{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    border-left-style: none;
    padding-left:0em;
    margin-bottom: 0em;
    }

.callout--attention {
    border: 8px solid #0072ce;
}

.callout {
    padding: 16px;
    background-color: #fff;
}

@media (min-width: 925px){
.callout {
    padding: 32px;
}
}

</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="heading-large">Do {{partnerortext}} claim any benefits or tax credits?</h1>
<!--     <p>We don't need to know if you are claiming Housing Benefit, Child Benefit or Council Tax Benefit.</p> -->

      <form action="benefits-handler" method="get" class="form">
        
        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do {{partnerortext}} claim any benefits or tax credits?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="benefittc" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice" ><!-- data-target="under20-reveal -->
              <input id="no" type="radio" name="benefittc" value="no">
              <label for="no">No</label>
            </div>
<!--             <div class="panel js-hidden" id="under20-reveal">
              <div class="callout callout--attention">
                <h3 class="heading-medium">
                If your parent or guardian gets benefits
                </h3>
                <p>If your parent or guardian gets <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/free-nhs-prescriptions">certain benefits</a> or they get paid Child Tax Credit for you, you could be entitled to help with NHS costs.</p>
                <p>Check with your parent or guardian if you think you might be named on their claim.</p>
              </div>
            </div> -->
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>




    </div>
    </div>

</main>


{% endblock %}






