{% extends "layout_bsa.html" %}
 
{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.report-a-problem-toggle {
     margin-top: 2em;
    font-size: 16px;
    line-height: 1.25;
  }
.report-a-problem-toggle a {

    color: #6f777b !important;
    text-decoration: underline !important;
  }
    </style>

  <main id="content" role="main">
    <a class="link-back" href="javascript:history.go(-1)">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">Do {{partnerortext}} get any of these benefits?</h1>


<h2 class="body-text">Select all that apply</h2><br>



        <form action="ben-check" class="form" method="get">

          <div class="form-group">
            <fieldset>

              <legend class="visuallyhidden">What benefits or tax credits do {{partnerortext}} get?</legend>

              <div class="multiple-choice multiple-radio">
                <input id="taxcredits" name="taxcredits" type="checkbox" value="true">
                <label for="taxcredits">Tax Credit</label>
              </div>

              <div class="multiple-choice multiple-radio">
                <input id="incomesupport" name="incomesupport" type="checkbox" value="true">
                <label for="incomeSupport">Income Support</label>
              </div>

              <div class="multiple-choice multiple-radio">
                <input id="esa" name="esa" type="checkbox" value="true">
                <label class=" block-label" for="esa" id="esa">Employment and Support Allowance (ESA)</label>
              </div>

              <div class="multiple-choice multiple-radio">
                <input id="jsa" name="jsa" type="checkbox" value="true"> 
                <label class=" block-label" for="jsa" id="jsa">Jobseeker's Allowance (JSA)</label>
              </div>

              <div class="multiple-choice multiple-radio">
                <input id="penCredit" name="pencredit" type="checkbox" value="true">
                <label class="block-label" for="penCredit" id="penCredit">Pension Credit</label>
              </div>

              <p class="form-block">or</p>

              <div class="multiple-choice multiple-radio">
                <input id="none" name="none" type="checkbox" value="no">
                <label for="none">No, {{iwe}} don't get any of these benefits</label>
              </div>

            </fieldset>

          </div>
                       <details>
              <summary><span class="summary">If your benefit isn't listed or has recently changed</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

                <h3 class="heading-medium">
                We don't ask about these benefits because they do not entitle you to help with NHS costs:
                </h3>
                    <ul class="list-bullet">
                    <li>Personal Independence Payment (PIP)</li>
                    <li>Armed Forces Independence Payment (AFIP)</li>
                    <li>Disability Living Allowance (DLA)</li>
                    <li>Incapacity Benefit</li>
                    <li>Attendance Allowance</li>
                    <li>Carer's Allowance</li>
                    <li>Housing Benefit</li>
                    <li>Child Benefit</li>
                    <li>Council Tax Benefit</li>

                    </ul>
<br>
                    <p>It's important you know what benefit you get. If you're not sure contact the <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus Helpline</a>.</p>

              </div>
            </details>
<br><br>
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>

        </form>
      </div>
      </div>
  </main>




  {% endblock %}

