@import 'unbranded';

// PPC
$break-small: 640px;
$break-medium: 768px;

@mixin res_inputs($width) {
  @media screen and (max-width: $width) {
    width: 100%;
  }
}

$nhs-blue: #005EB8;

#global-header {
  height :170px;
  background: url('/public/images/bsa/header-bsa.svg') transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 170px;
  .header-wrapper {
    background: transparent;
  }
  #bsa-logo {
    width: 300px;
    margin: 20px 15px 0 0;
    max-width: 100%;
    float: right;
  }
}

//done-page

.done-panel {
  background-color: $nhs-blue;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 30px 0;
  h1 {
    padding-top: 0;
    margin-bottom: 10px;
  }
  h4 {
    padding-top: 0;
  }
  h2 {
    padding-top: 0;
  }
}

#done-tick {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px 20px 4px 4px;;
  background-color: $nhs-blue;
  background-image: url('/public/images/bsa/done-tick.png');
  background-repeat: no-repeat;

}

.details {
  p {
    margin: 0;
    padding: 0;
  }
  h2 span {
    font-size: 19px;
    font-weight: normal;
    width: 55px;
    display: inline-block;
  }
  .valid {
    margin-top: 15px;
  }  
  background-color: rgba($nhs-blue, 0.1);
  padding: 0 15px 15px 15px;
  margin-bottom: 30px;
}

.info-table {
  span {
    float: right;
    width: 60%;
  }
}

.options-list {
  li {
    width :100%;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.print-icon {
  background-image: url("/public/images/bsa/print-2x.svg");
  padding-left: 40px;
}

.download-icon {
  background-image: url("/public/images/bsa/document_icon.svg");
  padding-left: 37px;
  margin-left: 3px;
}

.strong {
  font-weight: bold;
}

//payments
//payments
.card-images img {
  height: 35px;
}

.original-accepted {
  position: relative;
  max-width: 340px;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 1;
}

.form-date .form-group {
    float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
}

.form-date .form-group input {
    width: 100%;
}

#security-number {
  width: 100px;
  float :left;
}

.card-image {
  max-height: 38px;
  padding-top: 10px;
  margin-left: 15px;
  vertical-align: middle;
  float :left;
}

.payment-summary-small {
    border: 10px solid #DEE0E2;
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 30px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .payment-info {
    font-weight: 700;
  }
  .payment-amount {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

.form-date {
  .form-group {
    input {
      margin-top: 1rem;
    }
  }
}

td.strong {
  margin: 15px 0 ;
  width: 200%;
  display: block;
}

// Layout Styles
.right-floater {
  float: right;
  @media screen and (max-width: $break-medium) {
    float: left;
    width :100%;
    margin: 0 0 30px 0;
    .payment-summary-small {
      margin-top: 10px;
    }
  }
}

.left-floater {
  float: left;
}

.medium-width {
    width: 340px;
    @include res_inputs($break-small);
}

.max-width {
    width: 440px;
    @include res_inputs($break-small);
}

table {
  font-size: 1.5rem;
  tr {
    td {
      width: 35%;
      border: none;
      display: table-cell;
      vertical-align: inherit;
      padding: 2rem 3rem 0 0;
      &:nth-child(2) {
        width: 40%;
        font-weight: 700; 
        padding-right :0;
      }
      &:nth-child(3) {
        padding-right :0;
        width: 20%;
      }
    }
  }
}

.table-head {
  margin: 40px 0 10px 0;
}

.real_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    td:last-child {
      text-align: right;
    }
    th, td {
      line-height: 200%;
      font-weight: 400;
      text-transform: none;
      padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
      text-align: left;
      color: #0b0c0c;
      border-bottom: 1px solid #bfc1c3;
      &:nth-child(1) {
        width: 44%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 15%;
      }
    }
}


.multiple-choice {
  background-color: #DEE0E2;
  border :1px solid white;
  padding-left :0;
  margin-bottom: 15px;
      line-height: 195%;
  &:first-child {
    margin-top: 10px;
  }
  &:hover {
    border :1px solid black;
  }
  [type=radio] + label::before {
    background-color: white;
    position: inherit;
    float: left;
    margin-left: -38px;
    margin-top :3px;
    width: 24px;
    height: 24px;
  }
  [type=radio] + label::after {
    left: 17px;
    top: 17px;
    border: 7px solid;
  }
  label {
    float: left;
    margin-left: 48px;
    padding-right: 5px;
  }
}

.inline {
  .multiple-choice {
    label {
      line-height: 195%;
    }
  }
}

.form-break {
  margin-bottom: 0;
  p {
    margin: 0px 0px 6px 0px;
  }
}

.button {
  padding-bottom: 10px;
}

.form-date .form-group-year {
    width: 70px;
}

.panel-hidden{
    margin-bottom:2em;
}

.form-hint-list-item {
  margin: 0 0 0.6em 0;
  display: table;
}

.form-hint-list-item__indicator {
  vertical-align: middle;
  margin-right: .26316em;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/bullet-icon.svg");
}


.form-hint-list-item--valid .form-hint-list-item__indicator {
  background-image: url("/public/images/bsa/tick-green.svg");
}

.form-hint-list-item--false {
  color: black;
}

.form-hint-list-item--false .form-hint-list-item__indicator {
  background-image: url("/public/images/bsa/cross-red.svg");
}

.form-hint-list-item__primary {
  display: table-cell;
  padding-right: 0.25em;
}
// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include media(tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 30px;

.task-list {
  margin-top: $gutter;
  @include media(tablet) {
    margin-top: ($gutter * 2);
  }
}


.task-list-section {
  display: table;

  @include bold-24;
  padding-bottom: ($gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($gutter / 6);

  @include media(tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-bottom: ($gutter * 2);
  }

  @include media(tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  border-bottom: 1px solid $border-colour;
  padding-top: $gutter-one-third;
  padding-bottom: $gutter-one-third;
  @extend %contain-floats;
}

.task-list-item:first-child {
  border-top: 1px solid $border-colour;
}


.task-name {
  width: $two-thirds;
  float: left;
}

.task-completed {
  @include phase-tag;

  float: right;
  margin-right: 0;
  padding:1px 5px 4px;
  padding-top: 3px;
}

.instruction-list-item-extra-information {
  margin-left: 1.57895em;
  }


  
.multiple-radio label {
    margin-top: 0px;
    margin-left: 52px;
}

.multiple-radio {
  [type=checkbox] + label::before {
    background: white;
    top: 9px;
    left: 9px;
    width: 28px;
    height: 28px;
  }
  [type=checkbox] + label::after {
    top: 19px;
    left: 17px;
    width: 13px;
    height: 5px;
    border-width: 0 0 4px 4px;
  }
  label {
    margin-top: 0px;
    margin-left: 52px;
  }
}

.inline {
  .multiple-choice {
    label {
      line-height: 195%;
    }
  }
}

.single-line {
   line-height: 175%;
 }


.multiple-choice {
  background-color: #DEE0E2;
  border :1px solid white;
  padding-left :0;
  margin-bottom: 15px;
      line-height: 195%;
  &:first-child {
    margin-top: 10px;
  }
  &:hover {
    border :1px solid black;
  }
  [type=radio] + label::before {
    background-color: white;
    position: inherit;
    float: left;
    margin-left: -38px;
    margin-top :3px;
    width: 24px;
    height: 24px;
  }
  [type=radio] + label::after {
    left: 17px;
    top: 17px;
    border: 7px solid;
  }
  label {
    float: left;
    margin-left: 48px;
    padding-right: 5px;
  }
}

.inline {
  .multiple-choice {
    label {
      line-height: 195%;
    }
  }
}

.form-break {
  margin-bottom: 0;
  p {
    margin: 0px 0px 6px 0px;
  }
}

.button {
  padding-bottom: 10px;
}

.form-date .form-group-year {
    width: 70px;
}

.panel-hidden{
    margin-bottom:2em;
}

.form-hint-list-item {
  margin: 0 0 0.6em 0;
  display: table;
}

.form-hint-list-item__indicator {
  vertical-align: middle;
  margin-right: .26316em;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/bullet-icon.svg");
}


.form-hint-list-item--valid .form-hint-list-item__indicator {
  background-image: url("/public/images/bsa/tick-green.svg");
}

.form-hint-list-item--false {
  color: black;
}

.form-hint-list-item--false .form-hint-list-item__indicator {
  background-image: url("/public/images/bsa/cross-red.svg");
}

.form-hint-list-item__primary {
  display: table-cell;
  padding-right: 0.25em;
}
// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include media(tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 35px;

.task-list {
  margin-top: $gutter;
  @include media(tablet) {
    margin-top: ($gutter * 2);
  }
}


.task-list-section {
  display: table;

  @include bold-24;
  padding-bottom: ($gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($gutter / 6);

  @include media(tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-bottom: ($gutter * 2);
  }

  @include media(tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  border-bottom: 1px solid $border-colour;
  padding-top: $gutter-one-third;
  padding-bottom: $gutter-one-third;
  @extend %contain-floats;
}

.task-list-item:first-child {
  border-top: 1px solid $border-colour;
}


.task-name {
  width: $two-thirds;
  float: left;
}

.task-completed {
  @include phase-tag;

  float: right;
  margin-right: 0;
  padding:1px 5px 4px;
  padding-top: 3px;
}


.multiple-radio {
  [type=checkbox] + label::before {
    background: white;
    top: 9px;
    left: 9px;
    width: 28px;
    height: 28px;
  }
  [type=checkbox] + label::after {
    top: 19px;
    left: 17px;
    width: 13px;
    height: 5px;
    border-width: 0 0 4px 4px;
  }
  label {
    margin-top: 0px;
    margin-left: 52px;
  }
}

.heading-group {
  p {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 110%;
  }
  .heading-xlarge, .heading-large {
    margin: 0;
    padding: 0;
  }
  margin: 40px 0 23px 0;
}

.side-nav {
  margin-top: 45px;
}

.side-nav li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  width: 99%;
  list-style: none;
}

.side-nav a {
  padding: 12px 30px 8px 15px;
  text-decoration: none;
  font-size: 19px;
  display: block;
  position: relative;
}

.side-nav a:hover {
  background-color: #dee0e2;
}

.side-nav .active {
  background-color: #005ea5;
  color: white;
}

.side-nav .active:hover {
  color: #000;
  background: none repeat scroll 0% 0% #F8F8F8;
}

.side-nav a:after {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 10px;
  float: right;
  content: "\203A";
}

.side-nav h4 {
  font-weight: 700;
}

.govuk-previous-and-next-navigation {
 display:block;
 margin-top:30px;
 margin-bottom:30px;
 margin-left:-15px;
 margin-right:-15px
}
.govuk-previous-and-next-navigation ul {
 margin:0;
 padding:0
}
.govuk-previous-and-next-navigation li {
 font-family:"nta", Arial, sans-serif;
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286;
 float:left;
 list-style:none;
 text-align:right;
 margin:0;
 padding:0;
 width:50%
}
@media (min-width: 641px) {
 .govuk-previous-and-next-navigation li {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-previous-and-next-navigation li a {
 display:block;
 padding:15px;
 text-decoration:none
}
.govuk-previous-and-next-navigation li a:visited {
 color:#005ea5
}
.govuk-previous-and-next-navigation li a:hover,.govuk-previous-and-next-navigation li a:active {
 background-color:#f8f8f8
}
.govuk-previous-and-next-navigation li a .pagination-part-title {
 font-family:"nta", Arial, sans-serif;
 font-weight:400;
 text-transform:none;
 font-size:20px;
 line-height:1.11111;
 display:block
}
@media (min-width: 641px) {
 .govuk-previous-and-next-navigation li a .pagination-part-title {
  font-size:27px;
  line-height:1.25
 }
}
.govuk-previous-and-next-navigation .previous-page {
 float:left;
 text-align:left
}
.govuk-previous-and-next-navigation .next-page {
 float:right;
 text-align:right
}
@media (max-width: 640px) {
 .govuk-previous-and-next-navigation .previous-page,.govuk-previous-and-next-navigation .next-page {
  float:none;
  width:100%
 }
 .govuk-previous-and-next-navigation .next-page a {
  text-align:right
 }
}
.govuk-previous-and-next-navigation .pagination-icon {
 display:inline-block;
 margin-bottom:1px;
 height:.482em;
 width:.63em
}
.govuk-previous-and-next-navigation .pagination-label {
 display:inline-block;
 margin-top:0.1em;
 text-decoration:underline
}
.govuk-previous-and-next-navigation .pagination-label:empty {
 display:none
}

.pagination_gds {
  display:block;
    margin: 48px 0;
    border-top: 2px solid #b9d2dc;
    padding-top: 1em;
    }


@media (max-width: 640px) {
  .pagination_gds {
    margin: 0 0 1em 0em;
        padding-bottom: 1em;
        padding-top: none;
        border-top: none;
        border-bottom: 2px solid #b9d2dc; }
  }

.pagination_gds ul {
  margin:0;
  padding:0
}
.pagination_gds li {
  font-family:"nta", Arial, sans-serif;
  font-size:14px;
  line-height:1.14286;
  font-weight:400;
  text-transform:none;
  font-size-adjust:0.5;
  float:left;
  list-style:none;
  text-align:right;
  margin:0;
  padding:0;
  width:49%
}
@media (min-width: 641px) {
  .pagination_gds li {
    font-size:16px;
    line-height:1.25
  }
}
.pagination_gds li a {
  background-color:transparent;
  display:block;
  color:#005ea5;
  text-decoration:none
}
.pagination_gds li a:hover,.pagination_gds li a:active {
  background-color:#f8f8f8
}
.pagination_gds li a .pagination-label {
  font-family:"nta", Arial, sans-serif;
  font-size:20px;
  line-height:1.11111;
  font-weight:400;
  text-transform:none;
  font-size-adjust:0.5;
  margin-bottom:0.1em;
  display:block
}
@media (min-width: 641px) {
  .pagination_gds li a .pagination-label {
    font-size:27px;
    line-height:1.25
  }
}
.pagination_gds li a .pagination-part-title {
  text-decoration:underline
}
.pagination_gds li.next {
  float:right;
  text-align:right
}
.pagination_gds li.next a:before {
  background:transparent url(/public/images/arrow.png) no-repeat -102px -11px;
  margin:-4px -32px 0 0;
  display:block;
  float:right;
  width:30px;
  height:38px;
  content:" "
}
.pagination_gds li.previous a:before {
  background:transparent url(/public/images/arrow.png) no-repeat -20px -11px;
  margin:-4px 0 0 -32px;
  display:block;
  float:left;
  width:30px;
  height:38px;
  content:" "
}
.pagination_gds li.previous {
  float:left;
  text-align:left
}
.pagination_gds li.previous a {
  padding:0.75em 0 0.75em 3em
}
.pagination_gds li.next a {
  padding:0.75em 3em 0.75em 0
}
@media (max-width: 640px) {
  .pagination_gds li.previous,.pagination_gds li.next {
    float:none;
    width:100%
  }
  .pagination_gds li.next a {
    text-align:right
  }
}
.pagination_gds .first,.pagination_gds .last {
  min-height:4.5em
}
.pagination_gds .first span,.pagination_gds .last span {
  display:block;
  min-height:4.5em;
  padding:0.75em 5%;
  width:90%
}
.pagination_gds .first .pagination-label,.pagination_gds .last .pagination-label {
  display:block;
  margin-bottom:0.5em
}
.group::before,{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }

#content.multi-page aside {
  z-index:10;
  border-bottom:1px solid #bbb;
  margin-bottom:1em;
  padding-bottom:1em;
  overflow:hidden
}
@media (min-width: 641px) {
  #content.multi-page aside {
    margin:0 0 2.5em
  }
}
@media (max-width: 640px) {
  #content.multi-page aside {
    width:auto;
    overflow:hidden;
    border-bottom:none;
    padding-bottom:0;
    margin-left:0
  }
}

aside .show-all-parts {
  font-family:"nta", Arial, sans-serif;
  font-weight:400;
  text-transform:none;
  font-size:16px;
  line-height:3.46154;
  border:solid 1px #bfc1c3;
  border-width:1px 0;
  padding:0 16px;
  display:none
}
@media (min-width: 641px) {
  aside .show-all-parts {
    font-size:19px;
    line-height:2.36842
  }
}
@media (max-width: 640px) {
  aside .show-all-parts {
    display:block;
    background:transparent url(https://assets.publishing.service.gov.uk/static/accordian-arrow-0753eda0cd8d71b5d9b5053abf172100c03b94b49e7f24d82e0f6551302a0aca.png) 100% 6px no-repeat
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  aside .show-all-parts {
    background-image:url(https://assets.publishing.service.gov.uk/static/accordian-arrow-2x-2b998c05ceb1dadeb373b9aff059470cd6ae4557f5d768020531e1616c0e170d.png);
    background-size:45px 90px
  }
}
aside .show-all-parts,aside .show-all-parts:hover,aside .show-all-parts:focus {
  text-decoration:none
}
aside .show-all-parts.show-all-parts-open {
  background-position:100% -40px;
  border-bottom:none
}
@media (max-width: 640px) {
  aside .page-navigation {
    margin-top:0
  }
}
aside .page-navigation ol {
  margin:0;
  padding:0;
  float:left;
  display:inline;
  overflow:hidden;
  width:50%
}
@media (max-width: 640px) {
  aside .page-navigation ol {
    float:none;
    display:block;
    width:auto
  }
}
aside .page-navigation li {
  list-style:decimal;
  list-style-position:outside;
  margin-right:0.75em;
  margin-left:1.5em;
  clear:left;
  font-family:"nta", Arial, sans-serif;
  font-weight:400;
  text-transform:none;
  font-size:14px;
  line-height:1.14286
}
@media (min-width: 641px) {
  aside .page-navigation li {
    font-size:16px;
    line-height:1.25
  }
}
@media (max-width: 640px) {
  aside .page-navigation li {
    float:none;
    margin:0 1em 0 2.25em
  }
}
aside .page-navigation li a {
  display:block;
  padding:0.25em 1em 0.25em 0
}
aside .page-navigation li a span {
  cursor:pointer
}
aside .page-navigation li a:hover span.part-title,aside .page-navigation li a:focus span.part-title,aside .page-navigation li a:hover span.part-description,aside .page-navigation li a:focus span.part-description {
  color:#2b8cc4
}
aside .page-navigation li span.part-number {
  display:none;
  width:1.75em
}
aside .page-navigation li span.part-label,aside .page-navigation li span.part-title {
  line-height:1.5;
  display:inline
}
aside .page-navigation li span.part-label {
  color:#0b0c0c;
  padding:0 0.5em 0 0
}
aside .page-navigation li span.part-description {
  line-height:1.25;
  display:block;
  clear:left
}
aside .page-navigation li span.part-title {
  color:#2E3191;
  text-decoration:underline;
  line-height:1.5
}
aside .page-navigation li.active {
  padding:0.25em 0.25em 0.25em 0
}
aside .page-navigation li.active span.part-number {
  padding:0
}
aside .page-navigation li.active span.part-title {
  color:#0b0c0c;
  text-decoration:none
}
@media (max-width: 640px) {
  aside .page-navigation li {
    font-family:"nta", Arial, sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:16px;
    line-height:1.25
  }
  aside .page-navigation li.active {
    padding:0
  }
}
@media (max-width: 640px) and (min-width: 641px) {
  aside .page-navigation li {
    font-size:19px;
    line-height:2.36842
  }
}
@media (max-width: 640px) {
  aside .page-navigation li span,aside .page-navigation li a {
    margin:0 -1em 0 -2.25em;
    padding:0em 1em 0.75em 2.75em
  }
  aside .page-navigation li span {
    display:block
  }
  aside .page-navigation li span.part-title,aside .page-navigation li span.part-label {
    display:inline
  }
  aside .page-navigation li span.part-label {
    padding-right:1em
  }
}
aside .page-navigation ol[start] li {
  margin-left:1.8em
}
@media (max-width: 640px) {
  aside .page-navigation ol[start] li {
    margin-left:2.25em
  }
}

aside .page-navigation-open ol {
  position:static;
  left:auto
}
aside .page-navigation-closed {
  border-bottom:none
}
@media (max-width: 640px) {
  aside .page-navigation-closed ol {
    position:absolute;
    left:-9999em
  }
}


